<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Image Resizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
        <h1>About Image Resizer</h1>
        <p>
            Image Resizer is a simple web application that allows you to resize and compress images easily.
            It provides a user-friendly interface for selecting an image, specifying dimensions, and target size,
            and then generates a resized and compressed version of the image.
        </p>
        <p>
            If you have any questions or feedback, feel free to reach out! You can contact me via the following social
            handles:
        </p>
        <ul>
            <li>Email: pranavirat12@gmail.com</li>
            <li>Twitter: <a href="https://twitter.com/sarmapranab18" target="_blank">Twitter Handle</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/pranabsarma18/" target="_blank">LinkedIn
                    Profile</a></li>
        </ul>
        <p>Thank you for using Image Resizer!</p>
        <footer>
            <p>&copy; 2023 Image Resizer. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>